html, body {
    font-family: 'Roboto', sans-serif;
    padding: 10px 100px;
    width: 90%;
    margin: 0 auto;
}

#dropzone {
    padding: 24px;
    border: 1px solid #333;
/*    border-style: dashed;*/
    font-size: 36pt;
    transition: all .2s ease-in-out;
}

#dropAndButton {
	visibility: hidden;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

#download-btn {
    font-size: 16px;
    background: white;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: 1px solid #333;
    padding: .3rem 1rem;
    border-color: #333;
}

#dropdownMenuButton {
    border-radius: 0;
    border-color: #333;
}

#download-btn:hover {
	background: #e6e6e6;
}

.translate-div {
	margin: 10px 0;
}

.translate-input {
	margin-left: 10px;
	line-height: 2;
	width: 300px;
	font-size: 14px;
}
