html, body {
    font-family: 'Roboto', sans-serif;
/*    padding: 10px 80px;
    width: 90%;
    margin: 0 auto;*/
}

#dropzone {
    padding: 24px;
    border: 1px solid #333;
    border-style: dashed;
    /*font-size: 36pt;*/
    transition: all .2s ease-in-out;
}

#dropAndButton {
	visibility: hidden;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

#download-btn {
    font-size: 16px;
    background: white;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: 1px solid #333;
    padding: .3rem 1rem;
    border-color: #333;
}

.view-btn {
    font-size: 14px;
    background: white;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: 1px solid #333;
    padding: .2rem 0.7rem;
    border-color: #333;
    margin-left: 10px;
}

.view-btn:hover {
	background: #00FFC7;
}

#dropdownMenuButton {
    border-radius: 0;
    border-color: #333;
}

#dropdownMenuButton:hover {
    background: #00FFC7;
}

#download-btn:hover {
	background: #00FFC7;
}

.translate-div {
	margin: 10px 0;
}

.translate-input {
	margin-left: 10px;
	line-height: 2;
	width: 300px;
	font-size: 14px;
}

/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
  background-color: #D4F1FA;
  border-radius: 0;
}

/*.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}*/

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

a {
    color: black;
}

a:hover {
    color: #00FFC7;
    text-decoration: none;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
